
.trns-name{
    text-align: left;
font: Bold 28px/20px Siemens Sans;
letter-spacing: 0px;
color: #2D373C;
opacity: 1;
}

.trns-desc{
    text-align: left;
font: Roman 14px/20px Siemens Sans;
letter-spacing: 0px;
color: #697882;
opacity: 1;
}

.kpi{
    text-align: left;
font: Bold 14px/17px Siemens Sans;
letter-spacing: 0px;
color: #2D373C;
opacity: 1;
}

.capacity{
text-align: center;
font: Bold 28px Siemens Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.trns-nm{
    text-align: center;
font: Bold 13px Siemens Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
padding:10px;
}

.data-trns-name{
    text-align: center;
background: #3296B9 0% 0% no-repeat padding-box;
border: 0.75px solid #DFE6ED;
opacity: 1;
}

.data-head{
font: Bold 12px Siemens Sans;
letter-spacing: 0px;
color: #2D373C;
opacity: 1;
align:center;
}

.data-val{
font-size: 28px;
letter-spacing: 0px;
color: #2D373C;
opacity: 1;
padding: 10px;
align:center;
}

.data-val-warn{
font-size: 13px;
letter-spacing: 0px;
color: #2D373C;
opacity: 1;
padding: 20px;
align:center;
}

.data{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.75px solid #DFE6ED;
opacity: 1;
}

.pad-10{
    padding: 15px;
	min-height:42px;
}

.pad-others{
	padding: 15px;
	align:center;
}

.warning-logo{
	background: transparent  0% 0% no-repeat padding-box;
opacity: 1;
width: 6px;
height: 21px;
margin-left:2px;
margin-top:4px;
}

.circle-css{
	width: 28px;
height: 28px;
border-radius: 50%;
  display: inline-block;
	background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}


.all-results{
    text-align: left;
font: Bold 14px/17px Siemens Sans;
letter-spacing: 0px;
color: #3296B9;
opacity: 1;
}

.cal-dates{
	font: Roman 14px/34px Siemens Sans;
letter-spacing: 0px;
color: #2D373C;
}

.mrgn-lf-rt-10{
	margin-left:10px;
	margin-right:10px;
}

.cal-logo{
	width: 23px;
height: 21px;
background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
}

.down-logo{
	width: 15px;
height: 21px;
background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
}

.share-logo{
	width: 21px;
height: 21px;
background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
}

.xls-logo{
	width: 14px;
height: 21px;
background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
}

.print-logo{
	width: 20px;
height: 19px;
background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
}

.box-check{
width: 18px;
height: 18px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #B1BFCA;
opacity: 1;
background-color: #FFFFFF;
}

.dash{
text-align: center;
font: Roman 28px Siemens Sans;
letter-spacing: 0px;
color: #0B0B0B;
opacity: 1;
}


.trns-table-head{
    text-align: left;
font: Bold 14px/17px Siemens Sans;
letter-spacing: 0px;
color: #2D373C;
opacity: 1;
}


trns-table-row
{
    text-align: left;
font: Roman 13px/45px Siemens Sans;
letter-spacing: 0px;
opacity: 1;
}