<nav class="navbar navbar-default siemens-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="siemens-dropdown"></a>
            <a href="#" class="navbar-brand">
                <img src="assets/img/sie-logo-layer-petrol-rgb.png" style="margin-top: 3px;" alt="" class="siemens-logo">
            </a>
        </div>

        <div class="collapse navbar-collapse siemens-app-name" >
            <ul class="nav navbar-nav">
                <li><a style="color: #EBF0F5;" routerLink="/">Transformer alarm monitoring</a></li>
                                  
        <li role="presentation">
          <a style="color: #EBF0F5;" routerLink="/search">Search</a>
        </li>
            </ul>
           
        </div>

    </div>
</nav>