
.home-option{
    text-align: left;
font: Bold 12px/20px Siemens Sans;
letter-spacing: 0px;
color: #2387AA;
opacity: 1;
}

.home-image{
    background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
}