
<div class = "row">
<div class = "col-lg-12">
<a href="#">
<img src="../../assets/img/close.png" class="pull-right" alt="">
</a>
</div>
</div>


<div class = "row" style="margin-top:5px;">
<div class = "col-lg-12 search-for">
<div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
</div>
</div>


<div class = "row">
<div class = "col-lg-12">
<div class="all-result">All Results</div>
<div class="show-results">Showing 1-10 of 300 results</div>
</div>
</div>



<div class="row" style="margin-top:10px;">
<div class="col-lg-12">
    <table class="table" >
        <thead>
            <tr>
                
                <th class="capacity" scope="col">Grid/ Transformer/ Capacity(MVA)</th>
				
            </tr>
        </thead>
        <tbody>
            <tr class="trns-table-row">
                
				<td>Over Voltage Warning (220 KV)</td>
            </tr>
            <tr class="trns-table-row">
               
				<td>MVA Warning</td>
            </tr>
            <tr class="trns-table-row">
               
				<td>Over Voltage Warning (220 KV)</td>
            </tr>
            <tr class="trns-table-row">
               
				<td  >MVA Warning</td>
            </tr>
            <tr class="trns-table-row">
               
				<td  >Over Voltage Warning (220 KV)</td>
            </tr>
			<tr style="background-color: #DFE6ED;">
			 <td style="text-align: left;">
			 Show
                <input style="width: 53px;height: 30px;" type="number" name="" id="">
                entries
			 <td>
			</tr>
			
			<tr>
			 <td>
			 <input class="btn btn-primary" type="button" value="Previous">
			
                        <button class="btn btn-default dropdown-toggle mrg-l-r-5" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            0
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    
			 <input class="btn btn-primary" type="button" value="Next">
                
			 <td>
			</tr>
           
        </tbody>

    </table>
	</div>
	</div>
	
	