<div class="container">



    <div class="row">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 search-box">
	<app-search-transformer></app-search-transformer>
	</div>
	
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"><img src="../../assets/img/home.png" style="margin-top: 2px;"
                class="home-image pull-left" />
			<a style="margin-left:3px;" routerLink="/" class="home-option pull-left">Home</a>
             <div class="trns-details pull-left"> >Transformer details</div>
			 <app-transformer-details></app-transformer-details>
        </div>
    </div>


    
</div>